{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type ="text/css" href="{% static 'starter_app/custom.css' %}">
{% endblock %}


{% block content %}
<div class="container" style="width: 75%; margin-bottom: 50px">
    <h4>Tasks</h4>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Task</h5>
        <p><strong>Date Due:</strong> Date holder</p>
      </div>
      <p class="badge badge-info">Label</p>

      <p>Notes: notes holder</p>
      <a href="{% url 'update-task' pk=1 %}">
        <button type="button" class="btn btn-outline-secondary btn-sm">
          Update
        </button>
      </a>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Task 2</h5>
        <p><strong>Date Due:</strong> Date holder</p>
      </div>
      <p class="badge badge-info">Label</p>

      <p>Notes: notes holder</p>
      <a href="{% url 'update-task' pk=2 %}">
        <button type="button" class="btn btn-outline-secondary btn-sm">
          Update
        </button>
      </a>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Task 3</h5>
        <p><strong>Date Due:</strong> Date holder</p>
      </div>
      <p class="badge badge-info">Label</p>

      <p>Notes: notes holder</p>
      <a href="{% url 'update-task' pk=3 %}">
        <button type="button" class="btn btn-outline-secondary btn-sm">
          Update
        </button>
      </a>
    </li>
  </ul>
</div>

{% endblock %}
