{% extends "base.html" %}


{% block content %}
<div class="container" style="width: 75%; margin-bottom: 50px">
    <h4>Tasks</h4>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Task</h5>
        <p><strong>Date Due:</strong> Date holder</p>
      </div>
      <p><i>Label</i></p>

      <p>Notes: notes holder</p>
      <a href="{% url 'update-task' pk=1 %}">
        Update
      </a>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Task 2</h5>
        <p><strong>Date Due:</strong> Date holder</p>
      </div>
      <p><i>Label</i></p>

      <p>Notes: notes holder</p>
      <a href="{% url 'update-task' pk=2 %}">
        Update
      </a>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Task 3</h5>
        <p><strong>Date Due:</strong> Date holder</p>
      </div>
      <p><i>Label</i></p>

      <p>Notes: notes holder</p>
      <a href="{% url 'update-task' pk=3 %}">
        Update
      </a>
    </li>
  </ul>
</div>

{% endblock %}
